@model FinalProject_PropertyManagement.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MessageBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>

        <dd>
            @String.Format("{0:d}", Model.DateSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyManager.ManagerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyManager.ManagerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenant.TenantID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenant.TenantID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MessageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
